<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="logo">
        <img src="../../assets/2.png"  />
      </div>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button style="--background:white; --color:#926bac;">
        <ion-icon name="menu">
        </ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



  <ion-content>

  

  
      
      <ion-card>
        
          <ion-card-header>
          <ion-card-title>Account Info</ion-card-title>
        </ion-card-header>
  
        <form [formGroup]="profile" (ngSubmit)="updateProfile(profile.value)">
        <ion-item>
          <ion-label> First Name: </ion-label>
          <ion-input formControlName="firstname" type="text" value="{{usery.firstname}}"></ion-input>
        </ion-item>  
        
        <ion-item>
          <ion-label> Last Name: </ion-label>
          <ion-input formControlName="lastname" type="text" value="{{usery.lastname}}"> </ion-input>
        </ion-item> 

        <ion-item>
          <ion-label> Phone number: </ion-label>
          <ion-input  formControlName="mobile" type="number" value="{{usery.mobile}}" > </ion-input>
        </ion-item> 

       <!-- <ion-item>
          <ion-label> Email: </ion-label>
          <ion-input formControlName="email" type="email"  value="{{usery.email}}"> </ion-input>
        </ion-item> -->

   

        <ion-button expand="block" type="submit" >Edit profile</ion-button>
        </form>

      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>User role</ion-card-title>
        </ion-card-header> 
  
        <ion-item>
          <ion-input  type="name"  disabled="{{isDisabled2}}"> {{usery.role}}</ion-input>
        </ion-item>
      </ion-card>  
    <br>
   
    <div class="ion-margin-top">
      <ion-button expand="block" class="ion-margin-top" (click)="showConfirmDelete()" fill="outline">Delete My Account</ion-button>
      <ion-button expand="block" class="ion-margin-top" (click)="logout()">LOGOUT</ion-button>
    </div>
  
  </ion-content>
  