
    .button-icon-top
    {
        float:right;
        font-size: 2em;
    }


    .button-icon-right
    {
        position:absolute; 
        right: 0; 
        vertical-align: text-top;
        --background:rgb(255, 255, 255);
         --color:#565457;
    }    
    
