<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="logo">
        <img src="../../assets/2.png"  />
      </div>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button style="--background:white; --color:#926bac;">
        <ion-icon name="menu">
        </ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="product-slider">
    <ion-slide>
      <img src="../../assets/product-slider/prod-slide1.png" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/product-slider/prod-slide1.png" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/product-slider/prod-slide1.png" />
    </ion-slide>
  </ion-slides>

  <div class="ion-padding-vertical">
    <h1 class="item-name">Black turtleneck top</h1>

    <h4 class="price">
      $42
      <span class="real-price">$62</span>
    </h4>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="review">
    <ion-row>
      <ion-col size="6">
        <div class="rating">
          4.5
        </div>

        Very Good
      </ion-col>
      <ion-col size="6">
        <div class="count">49 Reviews</div>
      </ion-col>
    </ion-row>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="description">
    <h5>Description</h5>

    <p>
      A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
    </p>

  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="variation">
    <ion-segment (ionChange)="segmentChanged($event)" value="size">
      <ion-segment-button value="size">
        <ion-label>Select Size</ion-label>
      </ion-segment-button>
      <ion-segment-button value="color">
        <ion-label>Select Color</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="variation-selector">
    <div class="sizes" [class.active-variation]="activeVariation == 'size'">
      <div [class.active]="selectedSize == 1" (click)="changeSize(1)">
        S
      </div>
      <div [class.active]="selectedSize == 2" (click)="changeSize(2)">
        M
      </div>
      <div [class.active]="selectedSize == 3" (click)="changeSize(3)">
        L
      </div>
      <div [class.active]="selectedSize == 4" (click)="changeSize(4)">
        XL
      </div>
    </div>

    <div class="colors" [class.active-variation]="activeVariation == 'color'">
      <div [class.active]="selectedColor == 1" (click)="changeColor(1)">
        BLACK
      </div>
      <div [class.active]="selectedColor == 2" (click)="changeColor(2)">
        GREEN
      </div>
      <div [class.active]="selectedColor == 3" (click)="changeColor(3)">
        BLUE
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" color="light">Add to cart</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full">Buy now</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>