<ion-header>
  <ion-toolbar>
    <ion-title align="center">View Shift</ion-title>
    <ion-button fill="none" (click)="cancel()">Cancel</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="div_center">
    
    <ion-item class="ion-text-center">    
      <ion-segment value="all"  [(ngModel)]="segment">
        <ion-segment-button value="Assign" id="segment-1">
          Assigned Shifts
        </ion-segment-button>

        <ion-segment-button value="NotAssign" id="segment-2">
          Not Assigned Shifts
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    
    <ion-grid class="ion-margin">
      <div>
        <ion-row>
          <ion-col> Date</ion-col>
          <ion-col>Morning Shift</ion-col>
          <ion-col>Evening Shift</ion-col>
        </ion-row>
      </div>
  
      



      <div [ngSwitch]="segment">
        <div  *ngSwitchCase="'Assign'">
          <div *ngFor="let item of schedual$ | async">
            <ion-row>
              <ion-col> {{item.Date}} </ion-col>
              
              <ion-col *ngIf="item.Shift1 == '' "> <ion-button  class="assign_button"> Assign </ion-button> </ion-col>
              <ion-col *ngIf="item.Shift1 != '' ">
                <div *ngFor="let emp of users$ | async">
                  <div *ngIf="item.Shift1 == emp.uid">
                    {{emp.firstname}}
                  </div>  
                </div>
              </ion-col>
            
              <ion-col *ngIf="item.Shift2 == '' "> <ion-button class="assign_button"> Assign </ion-button> </ion-col>
              <ion-col *ngIf="item.Shift2 != '' ">
                <div *ngFor="let emp of users$ | async">
                  <div *ngIf="item.Shift2 == emp.uid">
                    {{emp.firstname}}
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div> 
       

     

        <div *ngSwitchCase="'NotAssign'">
          <div *ngFor= "let item of schedual$ | async">
            <ion-row>
              <ion-col> {{item.Date}} </ion-col>
              
              <ion-col *ngIf="item.Shift1 == '' "> <ion-button  class="assign_button"> Assign </ion-button> </ion-col>
              <ion-col *ngIf="item.Shift1 != '' ">   </ion-col>
            
              <ion-col *ngIf="item.Shift2 == '' "> <ion-button class="assign_button"> Assign </ion-button> </ion-col>
              <ion-col *ngIf="item.Shift2 != '' ">   </ion-col>
            </ion-row>
          </div>
        </div> 
      </div>
      
    </ion-grid>
  </div> 
  
</ion-content>
