.div_center
{
  padding: 5px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}


.ion-text-center
{
  max-width: 80vw;
  margin-left: 10%;

}


.assign_button
{
    font-size: 15px;
    --color:#ffffff;
    padding: 12px 18px;

}


ion-grid 
{
  ion-col
  {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-row:last-child 
  {
    border-bottom: 1px solid #4d4652;
      
  }
}
