.backbtn {
    margin-left: 15px;
}

.notification {
    margin-right: 15px;
}

ion-content {
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 26px;
    --padding-end: 26px;
}

.item-name {
    color: #2a2a2a;
}

.price {
    color: var(--ion-color-primary);

    span {
        color: #2a2a2a;
        text-decoration: line-through;
        margin-left: 20px;
        font-size: medium;
        vertical-align: top;
    }
}

.seperator {
    hr {
        position: absolute;
        left: 0;
        width: 100%;
        background: #e2e2e2;
    }
}

.review {
    margin-top: 16px;
    color: #2a2a2a;

    .rating {
        display: inline-block;
        color: #ffffff;
        background: var(--ion-color-primary);
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        margin-right: 10px;
    }

    .count {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: var(--ion-color-primary);
    }
}

.description {
    h5 {
        color: #2a2a2a;
        padding-top: 10px;
    }

    p {
        color: #656565;
    }
}

.variation {
    padding-top: 16px;

    ion-segment-button {
        color: #2a2a2a;
    }
}

.variation-selector {
    margin-top: 30px;
    display: flex;
    position: relative;

    .active-variation {
        opacity: 1 !important;
        z-index: 1 !important;
    }

    .sizes {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        opacity: 0;
        z-index: 0;
        padding-bottom: 30px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f3f3f3;
            width: 50px;
            height: 50px;
            margin-right: 8px;
            transition: 0.5s ease-in-out;
        }

        .active {
            color: #ffffff;
            background-color: var(--ion-color-primary);
        }
    }

    .colors {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        opacity: 0;
        z-index: 0;
        padding-bottom: 30px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f3f3f3;
            width: 70px;
            height: 50px;
            margin-right: 8px;
            transition: 0.5s ease-in-out;
        }

        .active {
            color: #ffffff;
            background-color: var(--ion-color-primary);
        }
    }
}

ion-footer {
    ion-row {
        padding: 0;

        ion-col {
            padding: 0;

            ion-button {
                margin: 0;
                height: 50px;
                font-size: 18px;
                box-shadow: none;
            }
        }
    }
}

ion-input{
    max-width: 14%;
}
.button-icon-right
{
    position:absolute; 
    right: 0; 
    vertical-align: text-top;
    --background:rgb(255, 255, 255);
     --color:#565457;
}    



.qty-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    border-radius: 5px;
    margin-top: 10px;
}
// This will remove footer shadow on android
.footer-md::before {
    background-image: none !important;
}