<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="logo">
        <img src="../../assets/2.png"  />
      </div>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button style="--background:white; --color:#926bac;">
        <ion-icon name="menu">
        </ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content>

   <ion-item pager="true" class="product-slider">
    <img src="{{ item.image }}" />
  </ion-item>
  
    <div class="ion-padding-vertical">
      <h1 *ngIf="item.quantity<item.thershold" style="background-color:#FFFF00;" class="item-name"> {{item.name}}</h1>
      <h1 *ngIf="item.quantity>=item.thershold"  class="item-name"> {{item.name}}</h1>


      <h5> Supplier: </h5>
     
  
      <h4 class="price">
      BD  {{ item.price}}
      </h4>
    </div>
  
    <div class="seperator">
      <hr>
    </div>
  

  
    <div class="variation">
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="quantity">
          <ion-label>Quantity</ion-label>
        </ion-segment-button>
        <ion-segment-button value="added">
          <ion-label>Last Added</ion-label>
        </ion-segment-button>
      </ion-segment>
   

    <div class="seperator">
      <hr>
    </div>
  
    <div [ngSwitch]="segment">
      <div  *ngSwitchCase="'quantity'">
        <hr>

        <ion-card>
          <ion-card-header>
             <ion-item>
              <h5 class="q">Treshhold : </h5>
             
             
              <span>{{item.thershold}}</span>
             
            </ion-item> 
  
             <ion-item>
              <h5 class="q"> Quantity : {{item.quantity}} </h5>
             </ion-item> 
          </ion-card-header> 
          <ion-item>
              <ion-input type="number" [(ngModel)]="phoneNum" disabled="{{isDisabled1}}"></ion-input>
          </ion-item>
        </ion-card>
        
      </div>


      <div  *ngSwitchCase="'added'">
        <hr>

        <ion-card>
          <ion-card-header>
             <ion-item>
              <h5 class="q">Last added quantity : {{item.pastAdded}}</h5>
              
             </ion-item> 
             <ion-item>
              <h5 class="q"> Date : {{item.Date.toDate()}}</h5>
             </ion-item> 
          </ion-card-header> 
        </ion-card>
        
      </div>

      
    </div>

  </div>
  </ion-content>
  <ion-footer>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" (click)="AddQuantity()">ADD TO CART</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>

