<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center" color="primary">
    <img src="../../assets/1.png" class="logo" />

    <div class="title">
        <h2>Welcome</h2>
        <p>Enjoy the SupraFresher App</p>
    </div>

    <div class="ion-margin-top">
        <ion-button expand="block" class="ion-margin-top" (click)="signup()"  color="white">SIGN UP</ion-button>
        <ion-button expand="block" class="ion-margin-top" (click)="login()" style="--background:white; --color:#926bac;">LOGIN</ion-button>
    </div>
</ion-content>