
<ion-content class="ion-padding">
  <div class="title">
    <h4>Signup</h4>
    <p>Register with SupraFresher to get started</p>
  </div>
  <form [formGroup]="credentials" (ngSubmit)="register(credentials.value)">
    <ion-item> 
      <ion-label floating>First name:</ion-label>
      <ion-input type="name"  class="primary-input"  formControlName="firstname"   ></ion-input>
    </ion-item>
    <!-- Below is the messages appear as a feedback for the user -->
    <ion-item *ngIf="credentials.controls['firstname'].hasError('required') && credentials.controls['firstname'].touched">
      <p> First name is required!</p>
    </ion-item>
    <ion-item>
      <ion-label>Last name:</ion-label>
      <ion-input type="name" class="primary-input"  formControlName="lastname"  ></ion-input>
    </ion-item>
    <ion-item *ngIf="credentials.controls['lastname'].hasError('required') && credentials.controls['lastname'].touched">
      <p> Last name is required!</p>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" class="primary-input"  formControlName="password"  ></ion-input>
    </ion-item>
    <ion-item *ngIf="credentials.controls['password'].hasError('required') && credentials.controls['password'].touched">
      <p> Password is required!</p>
    </ion-item>

    <ion-item>
      <ion-label>Mobile: </ion-label>
      <ion-input type="number" class="primary-input"  formControlName="mobile"  ></ion-input>
    </ion-item>
    <ion-item *ngIf="credentials.controls['mobile'].hasError('required') && credentials.controls['mobile'].touched">
      <p> Mobile is required!</p>
    </ion-item>
    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="email" class="primary-input" formControlName="email" ></ion-input>
    </ion-item>
    <ion-item *ngIf="credentials.controls['email'].hasError('required') && credentials.controls['email'].touched">
      <p> Email is required!</p>
    </ion-item>
    <ion-item>
      <ion-label>Role: </ion-label>
      <ion-item>
        <ion-select formControlName="role">
        <ion-select-option value="Admin"> Admin </ion-select-option>
        <ion-select-option value="Employee"> Employee </ion-select-option>
        <ion-select-option value="Supplier"> Supplier </ion-select-option>
      </ion-select>
        </ion-item>
        
      <ion-input type="email" class="primary-input" formControlName="email" ></ion-input>
    </ion-item>
    <ion-item *ngIf="credentials.controls['role'].hasError('required') && credentials.controls['role'].touched">
      <p> Role is required!</p>
    </ion-item>
    <br>
    <div class="ion-margin-top">
      <ion-button expand="block" type="submit">SIGNUP</ion-button>
    </div>
    </form>
  
  <p>By signing up you're agreed to our Terms & Conditions</p>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Close</a>
  </div>
</ion-content>