<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="logo">
        <img src="../../assets/2.png"  />
      </div>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button style="--background:white; --color:#926bac;">
        <ion-icon name="menu">
        </ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  
</ion-header>

<ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <ion-list>
      <ion-list-header>Supra Fresher</ion-list-header>

      <ion-menu-toggle autoHide="false" *ngFor="let p of pages">
        <ion-item [routerLink]="[p.url]" routerLinkActive="selected" routerDirection="root" lines="none" detail="false">
          <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-content>

  <div class="div_center">  
    <ion-grid class="ion-margin">
      <div>
        <ion-row style="background-color:#bea5d7 ;">
          <ion-col> Date</ion-col>
          <ion-col>Morning Shift</ion-col>
          <ion-col>Evening Shift</ion-col>
        </ion-row>
      </div>
  

      <div *ngFor="let item of schedual$ | async">
        <div *ngFor="let emp of users$ | async">
          <ion-row *ngIf="emp.uid == uid">
            <ion-col> {{item.Date}} </ion-col>
                      
            <ion-col *ngIf="item.Shift1 != emp.uid">    </ion-col>
            <ion-col *ngIf="item.Shift1 == emp.uid ">{{emp.firstname}}</ion-col>
          
            <ion-col *ngIf="item.Shift2 != emp.uid ">    </ion-col>
            <ion-col *ngIf="item.Shift2 == emp.uid ">{{emp.firstname}}</ion-col>
          </ion-row>
        </div>
      </div>
  
      
    </ion-grid>
  </div> 

  <div class="div_center">
    
    <ion-button id="click-trigger" class='center-button'>
      Pick date
    </ion-button>

    <ion-popover trigger="click-trigger" size="cover" triggerAction="click">     
      <ng-template>
        <ion-datetime  presentation="date" [(ngModel)]="datee" locale="sl-SI"> </ion-datetime>
        <ion-button  (click)="DismissClick()" fill="none"> OK </ion-button>
      </ng-template>
    </ion-popover>

    <br><br>
    <p style="color: rgb(59, 60, 61); padding: 7px; background-color: #d5bee4;"> Employees you can shift with </p>

      <ion-list *ngFor="let shift of schedual$ | async">
        <ion-item *ngIf="shift.Date == (datee | date: 'YYYY-MM-dd')" class="list_align">
          <div *ngFor="let emp of users$ | async">
            <div *ngIf= "uid == emp.uid">
              <div *ngIf="(uid == shift.Shift1 || uid == shift.Shift2); else other_content">
                
                <div *ngIf="(emp.uid == shift.Shift1)">
                  <div *ngFor="let semp of users$ | async">

                    <ion-item *ngIf="(semp.uid == shift.Shift2)">
                      Evening Shift: {{semp.firstname}} 
                      <ion-button (click)="trade()"> Trade </ion-button>
                    </ion-item>
                                
                  </div>

                  <div *ngIf="shift.Shift1 == ''">
                    No Employee assigned to this shift
                  </div>
                </div>


                <div *ngIf="(emp.uid == shift.Shift2)">
                  <div *ngFor="let semp of users$ | async">

                    <ion-item *ngIf="(semp.uid == shift.Shift1)">
                      Morning Shift: {{semp.firstname}} 
                      <ion-button (click)="trade()"> Trade </ion-button>
                    </ion-item>
                                
                  </div>

                  <div *ngIf="shift.Shift1 == ''">
                    No Employee assigned to this shift
                  </div>
                </div>

              </div>
            </div>
            <ng-template #other_content> You dont have a shift on this day</ng-template>
          </div>
      </ion-item>
    </ion-list>  
  </div>


  
  
</ion-content>
