<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="logo">
        <img src="../../assets/2.png"  />
      </div>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button style="--background:white; --color:#926bac;">
        <ion-icon name="menu">
        </ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

 

  <div>
    <ion-item> 
      <ion-searchbar (ionInput)="filter($event)" placeholder="Search Your Item"></ion-searchbar>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" ></ion-icon>
      </ion-button>
    </ion-item>  
  </div>

  <ion-card id=
  "myCard" color="card">
  <ion-card-header>
  Suprafresher
  </ion-card-header>
  <ion-card-content>
    Cold storage is a facility that primarily stores food items that are short-lived and highly likely to get spoilt under normal conditions.
  </ion-card-content>

  <ion-button (click)="animateCard()">
    Remove
    </ion-button>
    
  </ion-card>
  


  





  <div class="title ion-padding">
    <h2 class="font-bold">Categories</h2>
  </div>



  <div class="category-slider ion-padding-start">
    <ion-slides #myCard [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let t of items2">
        <ion-col>
          <h4 >{{ t.type1}}</h4>
          <img src="{{ t.image }}" />
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  

  <div class="title ion-padding">
    <h2>Fruits & Vegetables</h2>
    <ion-button fill="clear" routerLink="/itemsDetails" routerDirection="forward">
      <p>See all</p>
    </ion-button>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <div *ngFor="let product of items2; let i=index">
      <ion-slide *ngIf="product.type1=='Fruits & Vegetables'">
        <ion-col class="ion-text-left" routerLink="/items-details/{{i}}" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p>BD {{ product.price }}</p>
          <h6>{{ product.type1 }}</h6>
          <h7>{{ product.name }}</h7>
        </ion-col>
      </ion-slide>
      </div>
    </ion-slides>
  </div>


  <div class="title ion-padding">
    <h2>Chips & Snacks</h2>
    <ion-button fill="clear" routerLink="/itemsDetails" routerDirection="forward">
      <p>See all</p>
    </ion-button>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <div *ngFor="let product of items2; let i=index">
      <ion-slide *ngIf="product.type1=='Chips & Snacks'">
        <ion-col class="ion-text-left" routerLink="/items-details/{{i}}" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p>BD {{ product.price }}</p>
          <h6>{{ product.type1 }}</h6>
          <h7>{{ product.name }}</h7>
        </ion-col>
      </ion-slide>
      </div>
    </ion-slides>
  </div>


  <div class="title ion-padding">
    <h2>Dairy & Beverages</h2>
    <ion-button fill="clear" routerLink="/itemsDetails" routerDirection="forward">
      <p>See all</p>
    </ion-button>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <div *ngFor="let product of items2; let i=index">
      <ion-slide *ngIf="product.type1=='Diary & Beverages'">
        <ion-col class="ion-text-left" routerLink="/items-details/{{i}}" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p>BD {{ product.price }}</p>
          <h6>{{ product.type1 }}</h6>
          <h7 *ngIf="product.quantity<product.thershold" style="background-color:#FFFF00;">{{ product.name }}</h7>
          <h7 *ngIf="product.quantity>=product.thershold" >{{ product.name }}</h7>
        </ion-col>
      </ion-slide>
      </div>
    </ion-slides>
  </div>

</ion-content>







  