.ion-bar
{
    color: #926bac;

}

.filter {
    margin-right: 3px;
    --background:white;
    --color:#926bac;}

.search {
    margin-bottom: 20px;

    ion-item {
        border-radius: 10px;
        box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.09);
        padding: 8px;

        ion-icon {
            margin-right: 16px;
        }

        ion-input {
            padding-left: 10px !important;
            border-left: 1px solid #F4F4F4;
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;

    h2 {
        margin: 0 0 0 16px;
        color: #926bac;;
        
    }

    p {
        margin: 0 16px 0 0;
        color: #656565;
    }
}

.category-slider {
    ion-slide {
        width: 150px;
        height: 100px;
        margin-right: 10px;
        margin-left: 20px;
        margin-bottom: 30px;

        ion-col {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                color: #ffffff;
                margin: 0;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
                top: 0;
                left: 0;
                z-index: -1;
                box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.16);
            }
        }
    }
}

.font-bold {
    font-weight: bold;
}

.product-slider {
    margin-bottom: 30px;

    ion-slide {
        width: 150px;
        height: auto;
        margin-left: 20px;
        margin-right: 10px;

        ion-col {
            img {
                width: 100%;
                height: 180px;
                object-fit: cover;
                border-radius: 8px;
            }

            p {
                color: #656565;
                margin-top: 5px;
                margin-bottom: 0;
            }

            h6 {
                color: #926bac;;
                margin-top: 5px;
                margin-bottom: 0;
            }
        }
    }
}

// Removing highlight when focused/clicked on product
ion-slide:focus {
    outline: none !important;
}

ion-col:focus {
    outline: none !important;
}