<ion-header>
  <ion-toolbar>
   <ion-title>
     <div class="logo">
       <img src="../../assets/2.png"  />
     </div>
   </ion-title>

   <ion-buttons slot="start">
     <ion-menu-button style="--background:white; --color:#926bac;">
       <ion-icon name="menu">
       </ion-icon>
     </ion-menu-button>
   </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content>
   


 <div class="div_center">

  <p style="color: rgb(59, 60, 61); padding: 4px; background-color: #d5bee4;"> Available Orders </p>


   <ion-list [inset]="true">
     <ion-item *ngFor="let item of list; let i=index" >
      <ion-lable (click)="goOrderDetails()" slot="start"><h5> Order:{{item.id}} </h5> <p class="txt">Customer:{{item.user}}</p> </ion-lable>
       
      <ion-badge slot='end' *ngIf="item.status == 'Completed' ">Completed</ion-badge>
      
       <ion-select interface="popover" placeholder="Status" slot="end" [(ngModel)]="item.status" *ngIf="item.status != 'Completed'">
        <ion-select-option value="Submited">   Submited   </ion-select-option>
        <ion-select-option value="Processing"> Processing </ion-select-option>
        <ion-select-option value="Shipped">    Shipped    </ion-select-option>
        <ion-select-option value="Delivered">  Delivered  </ion-select-option>
        <ion-select-option value="Completed">  Completed  </ion-select-option>

      </ion-select>



     </ion-item>
   </ion-list>
 </div>

</ion-content>
