<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="logo">
        <img src="../../assets/2.png"  />
      </div>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button style="--background:white; --color:#926bac;">
        <ion-icon name="menu">
        </ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  
</ion-header>

<ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <ion-list>
      <ion-list-header>Supra Fresher</ion-list-header>

      <ion-menu-toggle autoHide="false" *ngFor="let p of pages">
        <ion-item [routerLink]="[p.url]" routerLinkActive="selected" routerDirection="root" lines="none" detail="false">
          <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-content>


  <div class="div_center" *ngFor="let req of schedual$ | async">
      <ion-card *ngIf="req.To == uid && req.Approve1 == false">
        <ion-card-header>
          <ion-card-title>Trade request</ion-card-title>
          <ion-card-subtitle> To {{req.To}} </ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Requested from: ,  <br>
          Date: {{req.Date}} between your shift <br>
          and their shift: 
        </ion-card-content>
      
        <ion-button fill="clear" (click)="approve(req.Date)"> Approve </ion-button>
        <ion-button fill="clear" (click)="reject(i)"> Reject </ion-button>
      </ion-card>
    </div> 

</ion-content>
