<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/reports" style="--background:white; --color:#926bac;">
        <ion-icon name="chevron-back-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
 
    <ion-title>
      <div class="logo">
        <img src="../../assets/2.png"  />
      </div>
    </ion-title>

  
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="search ion-padding" >
    <ion-item lines="none" >
      <ion-input placeholder="Search Your order"></ion-input>
      <ion-icon  name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

<ion-list [inset]="true">
  <ion-item *ngFor="let item of list; let i=index" >
    <ion-lable >{{item.id}}</ion-lable>
      <ion-button  fill="clear" slot="end"  (click)="goOrderDetails()" >
            <ion-icon name="arrow-forward-outline" ></ion-icon>
      </ion-button>
  </ion-item>
</ion-list>


</ion-content>
