<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="cancel()" style="--background:white; --color:#926bac;">
        <ion-icon name="chevron-back-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <p align="center"> History Orders </p>
  
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
      <ion-card-title> Items in Categories</ion-card-title>
      <ion-card-subtitle>This pie chart shows number of items in each category in the store.</ion-card-subtitle>
        <div id="pie-chart-div"></div>
    </ion-card>

   <!-- <ion-card>
      <ion-card-title>Monthly Orders</ion-card-title>
      <ion-card-subtitle>This line chart represents number of orders in the past three months.</ion-card-subtitle>
      <div id="line-chart-div"></div>
  </ion-card>-->



</ion-content>
