
<ion-content class="ion-padding">
  <div class="title">
    <h4>Login</h4>
    <p>Lets get started</p>
  </div>
  <form [formGroup]="credentials" (ngSubmit)="login(credentials.value)"> 
    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="email" class="primary-input" formControlName="email" ></ion-input>
    </ion-item>
    <ion-item *ngIf="credentials.controls['email'].hasError('required') && credentials.controls['email'].touched">
      <p> Email is required!</p>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" class="primary-input"  formControlName="password"  ></ion-input>
    </ion-item>
    <ion-item *ngIf="credentials.controls['password'].hasError('required') && credentials.controls['password'].touched">
      <p> Password is required!</p>
    </ion-item>
    <div class="ion-margin-top">
      <ion-button expand="block" type="submit" [disabled]="!credentials.valid">LOGIN</ion-button>
    </div>
  </form>
  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Close</a>
  </div>
</ion-content>