<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="logo">
        <img src="../../assets/2.png"  />
      </div>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button style="--background:white; --color:#926bac;">
        <ion-icon name="menu">
        </ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="div_center">
    <ion-item>
      <ion-button class="icons">
        <ion-icon  name="search-outline" slot="start"></ion-icon>
      </ion-button>

      <ion-input type="text" placeholder="Search For Employee.." > </ion-input>
      
      <ion-button class="icons">
        <ion-icon name="funnel-outline" ></ion-icon>
      </ion-button>

      <ion-button class="icons" (click)="presentModal()" >
        <ion-icon  name="add-outline" slot="end"></ion-icon>
      </ion-button>  
    </ion-item>
  </div>


<!--  <div class="div_center">
    <ion-list class="list_align">
      <ion-item  *ngFor="let emp of Dataservs.Employee; let j=index" >
        <ion-img class="img_size" src={{emp.Pic}}></ion-img>
        <p class="Emp"> {{emp.Name}} </p>
        
        <ion-button  (click)="EmolyeeSche(emp.ID)" slot="end" >
          <ion-icon name="chevron-forward-outline"></ion-icon>       
        </ion-button>


      </ion-item>  
    </ion-list>
  </div> -->

  <div class="div_center">
    <ion-list class="list_align">
      <div *ngFor="let emp of users$ | async">
        <ion-item  *ngIf="emp.role == 'Employee'" >
          <p class="Emp"> {{emp.firstname}} </p>

          <ion-button  (click)="EmolyeeSche(emp.uid)" slot="end" >
            <ion-icon name="chevron-forward-outline"></ion-icon>       
          </ion-button>
  
        </ion-item>  
      </div>
    </ion-list>
  </div>
  

  <div class="div_center">
    <ion-button  (click)="presentModal1()"   fill="outline"> View Schedules </ion-button>
    <ion-button  (click)="presentModal2()"  fill="outline"> Employees Trade Requests </ion-button>
  </div>


</ion-content>
