.icons {
    margin-right: 15px;
    --background:white;
    --color:#926bac;
}

.Emp
{
    color:#000000;
    width: 500px;
    text-align: center;

}

.div_center
{
  padding: 5%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}


.list_align
{
    list-style: square;
}


.img_size
{
    width: 200px;
   
}


