<ion-app>

  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list>
        <ion-list-header>Supra Fresher</ion-list-header>

        <ion-menu-toggle autoHide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="[p.url]" routerLinkActive="selected" routerDirection="root" lines="none" detail="false">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom" *ngIf="userrole == 'owner' ">
      <ion-tab-button routerLink="/items">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      
      <ion-tab-button  routerLink="/view-order">
        <ion-icon name="bag-check-outline"></ion-icon>
        <ion-label>Orders</ion-label>
      </ion-tab-button>
      
      <ion-tab-button routerLink="/cart" >
        <ion-icon name="cart"></ion-icon>
        <ion-label>Cart</ion-label>
        <ion-badge>2</ion-badge>
      </ion-tab-button>
      
      <ion-tab-button  routerLink="/account">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>


    <ion-tab-bar slot="bottom" *ngIf="userrole == 'user'">
      <ion-tab-button  routerLink="/homemp">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      
      <ion-tab-button  routerLink="/trade">
        <ion-icon name="Repeat"></ion-icon>
        <ion-label>Trade Shift</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/req" >
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label> Requests </ion-label>
      </ion-tab-button>
      
      <ion-tab-button  routerLink="/account">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-app>