<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="close()" >
      Close
    </ion-button>
    <ion-title>Favorate Orders</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
    <ion-list [inset]="true">
   
        <ion-item *ngFor="let order of (fav_order | async); let i=index">
          <ion-lable>ID: {{i}}</ion-lable>
          <ion-button slot="end"  fill="outline" shape="round"> Reorder</ion-button>
            <ion-button  fill="clear" slot="end"  (click)="clickFavorates(i)">
                  <ion-icon name="heart-outline" *ngIf="!order.is_fav"></ion-icon>
                  <ion-icon name="heart" *ngIf="order.is_fav"></ion-icon>
            </ion-button>
        </ion-item>
        
    </ion-list>




</ion-content>
