<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="none" (click)="cancel()">Cancel</ion-button>
    <ion-title align="center">Assign Employee</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

 
  <div style="margin: 0 auto; width: 400px; text-align: center;">
    <ion-button id="click-trigger" class='center-button'>
      Pick date
    </ion-button>
    
    <ion-popover trigger="click-trigger" size="cover" triggerAction="click">
      <ng-template>
        <ion-datetime presentation="date" displayFormat="YYYY-MM-dd" [(ngModel)]="datee" locale="sl-SI"> </ion-datetime>
        <ion-button  (click)="DismissClick()" fill="none"> OK </ion-button>
      </ng-template>
    </ion-popover>


    <ion-button  slot="end" (click)="openSelect()" id="click-shift" class='center-button'>
      Pick free shift
    </ion-button>  

   <ion-select  #mySelect [(ngModel)]="shift" (ionChange)="shifts($event)"  hidden="true">
      <div *ngFor="let item of schedual$ | async; let i=index ">
        <div *ngIf="item.Date  == (datee | date: 'YYYY-MM-dd')">
          <ion-select-option *ngIf="item.Shift1 == ''" value="Shift1">Morning shift</ion-select-option>
          <ion-select-option *ngIf="item.Shift2 == ''" value="Shift2">Evening shift</ion-select-option>
        </div>
      </div>        
   </ion-select>



  </div>

    

  <div class="div_center" *ngIf="display"> 
    <p style="color: rgb(59, 60, 61); padding: 7px; background-color: #d5bee4;"> Employees that are free this day </p>

    <div *ngFor="let item of schedual$ | async">
      <div *ngFor="let emp of users$ | async">
        <div *ngIf="emp.role =='Employee'">
          <div *ngIf= "item.Date == (datee | date: 'YYYY-MM-dd')" class="list_align">
            
            <ion-list *ngIf="!(emp.uid == item.Shift1 || emp.uid == item.Shift2)">
                       
              <ion-item>
                <p> {{emp.firstname}} </p>
                
                <ion-button  slot="end" (click)="Assigntoshift(emp.uid)" id="click-shift" class='center-button'>
                  Assign Employ
                </ion-button> 

              </ion-item>  
              
            </ion-list>
  

            <div *ngIf="item.Shift1 != '' && item.Shift2 != ''">
              <p> No Employee available this day </p>  
            </div>

          </div>

  
        </div>
      </div>
    </div>
  </div>  

 

</ion-content>
