.center-button {
    
    width: 60%;
    display: flex;
  }


  .button {
    margin-top: 12px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .div_center
  {
    padding: 13%;
    background-color: rgb(255, 255, 255);
    text-align: center;
  }


  .list_align
{
    list-style: square;
}


.img_size
{
    width: 50px;
   
}


.emp_div_
{
  padding: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

