<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="close()" >
      Close
    </ion-button>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>



      <ion-card>
        <ion-item-divider style="--background:#c9bdd1 ; --color: rgb(0, 0, 0);">
          <ion-label>
           <ion-label>Order ID: cD4144</ion-label>
          </ion-label>
        </ion-item-divider>
        <ion-list [inset]="true">
          <ion-item>
            <ion-label>Subtotal: </ion-label>
            <ion-label slot="end">90 BD</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Shipping cost:</ion-label>
            <ion-label slot="end">29 BD</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>VAT 10%:</ion-label>
            <ion-label slot="end">12.68 BD</ion-label>
          </ion-item>
          <ion-item>
            <b>Total:</b>
            <b slot="end">132.69 BHD</b>
          </ion-item>
        </ion-list>
      </ion-card>


      <ion-card>
        <ion-item-divider style="--background:#f3f3f3 ; --color: rgb(0, 0, 0);">
          <ion-label>
           <ion-label>Order Items</ion-label>
          </ion-label>
        </ion-item-divider>
        <ion-card-content>
          <ion-row>
                <ion-col size="3">
                  <ion-img src="assets/apples.jpg" style="width:80px; height:80px;"></ion-img>
                <br>
                </ion-col>
                <ion-col size="9">
                  <h2>Apples whight:10Kg</h2>
                  <br>
                  <b>Qty:4</b>
                  <br>
                  <b>price : 30 BD</b>
                </ion-col>
                <!-- <ion-item-divider></ion-item-divider> -->
                <ion-col size="3">
                    <ion-img src="assets/b2.jpg" style="width:80px; height:80px;"></ion-img>
                  <br>
                  </ion-col>
                  <ion-col size="9">
                    <h2>Almarai Milk 1 liter</h2>
                    <br>
                    <b>Qty:9</b>
                    <br>
                    <b>price : 37 BD</b>
                  </ion-col>
                  <!-- <ion-item-divider></ion-item-divider> -->

                  <ion-col size="3">
                    
                      <ion-img src="assets/b3.jpg" style="width:80px; height:80px;"></ion-img>
                    
                    <br>
                    </ion-col>
                    <ion-col size="9">
                      <h2>Coca Cola 1 liter</h2>
                      <br>
                      <b>Qty:3</b>
                      <br>
                      <b>price : 16 BD</b>
                    </ion-col>
                    <!-- <ion-item-divider></ion-item-divider> -->
                    <ion-col size="3">
                      <ion-img src="assets/b5.jpg" style="width:80px; height:80px;"></ion-img>
                    <br>
                    </ion-col>
                    <ion-col size="9">
                      <h2 >Danone Yogurt 6 pice per pack</h2>
                      <br>
                      <b>Qty:6</b>
                      <br>
                      <b>price : 33 BD</b>
                    </ion-col>

                      
                    <!-- <ion-item-divider></ion-item-divider> -->
                    <ion-col size="3">
                      <ion-img src="assets/f3.jpg" style="width:80px; height:80px;"></ion-img>
                    <br>
                    </ion-col>
                    <ion-col size="9">
                      <h2>Mango whight:15Kg</h2>
                      <br>
                      <b>Qty:8</b>
                      <br>
                      <b>price : 27 BD</b>
                    </ion-col>
                
            </ion-row>
        </ion-card-content>
      </ion-card>
  
      {{order_id}}
      {{my_order_data}}

      
</ion-content>
