<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="logo">
        <img src="../../assets/2.png"  />
      </div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style="--background:white; --color:#926bac;">
        <ion-icon name="menu">
        </ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row>
    <ion-col class="ion-text-start">
      <ion-button  size="small" fill="clear" (click)="goPastOrder()">Past Oeders</ion-button>
    </ion-col>
    <ion-col  class="ion-text-end">
      <ion-button  size="small" fill="clear" (click)="goFavorateOrders()">Favorate Orders</ion-button>
    </ion-col>
  </ion-row>


  <ion-list>

    <ion-item *ngFor="let order of getorders; let i=index">
      <ion-button fill="none" (click)="goOrderDetails(i)">ID:{{i}}</ion-button>
      <ion-button slot="end"  (click)="changestatus(i)" fill="outline" shape="round">{{order.status}}</ion-button>
      <ion-button  fill="clear" slot="end"  (click)="clickFavorates(i)">
        <ion-icon name="heart-outline" *ngIf="!order.is_fav"></ion-icon>
        <ion-icon name="heart" *ngIf="order.is_fav"></ion-icon>
    </ion-button>
    </ion-item>
  </ion-list>
  
</ion-content>
