<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="logo">
        <img src="../../assets/2.png"  />
      </div>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button style="--background:white; --color:#926bac;">
        <ion-icon name="menu">
        </ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">Cart</h1>

  <div class="cart-items">
    <ion-card mode="ios" *ngFor="let product of (viewCart | async); let i=index">
      <ion-card-content>
        <div class="item-img">
          <img src="{{product.image}}" />
        </div>
        <div class="item-info">
          <p>{{product.name}}</p>
          <p>{{product.type1}}</p>
          <p>BD {{product.price}}</p>

          <div class="qty-selector">
            <ion-button fill="clear" (click)="decrementQty(i)">-</ion-button>
            <span>{{product.orderQTY}}</span>
            <ion-button fill="clear" (click)="incrementQty(i)">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content> 
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button id="myCard" expand="block" class="main-button" (click)="placeorder()" #my>Place Order</ion-button>
  </ion-toolbar>
</ion-footer>