<ion-header>
  <ion-toolbar>
    <ion-title align="center">Employee Schedual</ion-title>
    <ion-button fill="none" (click)="cancel()">Cancel</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="div_center">  
    <ion-grid class="ion-margin">
      
      <div class="rowClass">
        <ion-row>
          <ion-col> Date</ion-col>
          <ion-col>Morning Shift</ion-col>
          <ion-col>Evening Shift</ion-col>
        </ion-row>
      </div>
  
      
      <div *ngFor="let item of schedual$ | async">
        <div *ngFor="let emp of users$ | async">
          <ion-row *ngIf="emp.uid == ID">
            <ion-col> {{item.Date}} </ion-col>
                      
            <ion-col *ngIf="item.Shift1 != emp.uid">    </ion-col>
            <ion-col *ngIf="item.Shift1 == emp.uid ">{{emp.firstname}}</ion-col>
          
            <ion-col *ngIf="item.Shift2 != emp.uid ">    </ion-col>
            <ion-col *ngIf="item.Shift2 == emp.uid ">{{emp.firstname}}</ion-col>
          </ion-row>
        </div>
      </div>
  
    </ion-grid>
  </div> 

    
    
</ion-content>

 