.center-button 
 {   
    width: 60%;
  }


  .button {
    margin-top: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .div_center
  {
    padding: 7%;
    background-color: rgb(255, 255, 255);
    text-align: center;
  }


