<ion-header>
  <ion-toolbar>
    <ion-title>Trade Request</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="div_center" *ngFor="let req of schedual$ | async">
    <ion-card *ngIf="req.Approve1 == true">
      <ion-card-header>
        <ion-card-title>Trade request</ion-card-title>
      </ion-card-header>

  
    
      <ion-card-content>
        Requested from: ,  <br>
        Date: {{req.Date}} 
        between   {{req.Shift1}}<br>
        and  {{req.Shift2}}
      </ion-card-content>
    
      <ion-button fill="clear" (click)="approve(req.Date)"> Approve </ion-button>
      <ion-button fill="clear" (click)="reject(i)"> Reject </ion-button>
    </ion-card>
  </div> 
  

  <div class="div_center">
    
    <ion-button id="click-trigger" class='center-button'>
      Pick date
    </ion-button>

    <ion-popover trigger="click-trigger" size="cover" triggerAction="click">     
      <ng-template>
        <ion-datetime  presentation="date" [(ngModel)]="datee" locale="sl-SI"> </ion-datetime>
        <ion-button  (click)="DismissClick()" fill="none"> OK </ion-button>
      </ng-template>
    </ion-popover>
  </div>


  <ion-list *ngFor="let shift of Dataservs.shiftList">
    <ion-item *ngIf="(shift.Date | date: 'yyyy-MM-dd' ) == (datee | date: 'yyyy-MM-dd')">
       
      <ion-item *ngIf="shift.MorningShift != ''">
          Morning Shift: {{shift.MorningShift}} 
        <ion-button> Trade </ion-button>
      </ion-item>
      
      <ion-item *ngIf="shift.EveningShift != '' "> 
        Evening Shift: {{shift.EveningShift}} 
        <ion-button> Trade </ion-button>
      </ion-item> 

    </ion-item>
  </ion-list>  
  

</ion-content>
