<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="logo">
        <img src="../../assets/2.png"  />
      </div>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button style="--background:white; --color:#926bac;">
        <ion-icon name="menu">
        </ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col class="ion-text-start">
      <ion-button  size="small" fill="clear" routerLink="/view-invoices">View Invoices</ion-button>
    </ion-col>
    <ion-col  class="ion-text-end">
      <ion-button  size="small" fill="clear" (click)="historyOrders()">History Orders</ion-button>
    </ion-col>
  </ion-row>


  <ion-grid>
    <ion-row>
       <ion-card>
      <ion-card-header>
        <img class='img'alt="product" src="../../../assets/product.png" />
        <ion-card-title>{{countItems}}</ion-card-title>
        <ion-card-subtitle>Total Products</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <img class='img'alt="category" src="../../../assets/categories.png" />
        <ion-card-title>3</ion-card-title>
        <ion-card-subtitle>Total Categories</ion-card-subtitle>
      </ion-card-header>
    </ion-card> 
  </ion-row>
  <ion-row>

  <!-- <ion-card>
   <ion-card-header>
     <img class='img'alt="order" src="../../../assets/order.png" />
     <ion-card-title>7</ion-card-title>
     <ion-card-subtitle>Total Orders</ion-card-subtitle>
   </ion-card-header>
 </ion-card>

 <ion-card>
   <ion-card-header>
     <img class='img'alt="users" src="../../../assets/users.png" />
     <ion-card-title>3</ion-card-title>
     <ion-card-subtitle>Total Users</ion-card-subtitle>
   </ion-card-header>
 </ion-card> 
-->

</ion-row>
  </ion-grid>

  <div class="search ion-padding" >

    <ion-item>
      <ion-button class="filter" style="--background:white; --color:#926bac;">
        <ion-icon name="funnel-outline" ></ion-icon>
        </ion-button>
      <ion-select (ionChange)="selectFilter()" [(ngModel)]="filter" placeholder="Select filter">
        <ion-select-option value="category">category</ion-select-option>
        <ion-select-option value="price">price</ion-select-option>
        <ion-select-option value="quantity">quantity</ion-select-option>
        <ion-select-option value="moving">moving</ion-select-option>
        <ion-select-option value="supplier">supplier</ion-select-option>
      </ion-select>
    </ion-item>
  </div>


  <div class="title ion-padding">
    <h2>Fruits & Vegetables</h2>

  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <div *ngFor="let product of items2; let i=index">
      <ion-slide *ngIf="product.type1=='Fruits & Vegetables'">
        <ion-col class="ion-text-left" routerLink="/items-details/{{i}}" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p>BD {{ product.price }}</p>
          <h6>{{ product.type1 }}</h6>
          <h7>{{ product.name }}</h7>
        </ion-col>
      </ion-slide>
      </div>
    </ion-slides>
  </div>


  <div class="title ion-padding">
    <h2>Chips & Snacks</h2>

  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <div *ngFor="let product of items2; let i=index">
      <ion-slide *ngIf="product.type1=='Chips & Snacks'">
        <ion-col class="ion-text-left" routerLink="/items-details/{{i}}" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p>BD {{ product.price }}</p>
          <h6>{{ product.type1 }}</h6>
          <h7>{{ product.name }}</h7>
        </ion-col>
      </ion-slide>
      </div>
    </ion-slides>
  </div>


  <div class="title ion-padding">
    <h2>Dairy & Beverages</h2>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <div *ngFor="let product of items2; let i=index">
      <ion-slide *ngIf="product.type1=='Diary & Beverages'">
        <ion-col class="ion-text-left" routerLink="/items-details/{{i}}" routerDirection="forward">
          <img src="{{ product.image }}" />
          <p>BD {{ product.price }}</p>
          <h6>{{ product.type1 }}</h6>
          <h7 *ngIf="product.quantity<product.thershold" style="background-color:#FFFF00;">{{ product.name }}</h7>
          <h7 *ngIf="product.quantity>=product.thershold" >{{ product.name }}</h7>
        </ion-col>
      </ion-slide>
      </div>
    </ion-slides>
  </div>
 
</ion-content>
