<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="logo">
        <img src="../../assets/2.png"  />
      </div>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button style="--background:white; --color:#926bac;">
        <ion-icon name="menu">
        </ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list>
        <ion-list-header>Supra Fresher</ion-list-header>
  
        <ion-menu-toggle autoHide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="[p.url]" routerLinkActive="selected" routerDirection="root" lines="none" detail="false">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

<ion-content>

  <div  *ngFor="let emp of Dataservs.Employee; let j=index" >
    <ion-item *ngIf="emp.ID == ID">
      <ion-img class="img_size" src={{emp.Pic}}></ion-img>
      <h1> {{emp.Name}} </h1>
    </ion-item>  
  </div>
 
  <div class="div_center">  
    <ion-grid class="ion-margin">
      <div>
        <ion-row style="background-color:#bea5d7 ;">
          <ion-col> Date</ion-col>
          <ion-col>Morning Shift</ion-col>
          <ion-col>Evening Shift</ion-col>
        </ion-row>
      </div>
  

      <div *ngFor="let item of schedual$ | async">
        <div *ngFor="let emp of users$ | async">
          <ion-row *ngIf="emp.uid == uid">
            <ion-col> {{item.Date}} </ion-col>
                      
            <ion-col *ngIf="item.Shift1 != emp.uid">    </ion-col>
            <ion-col *ngIf="item.Shift1 == emp.uid ">{{emp.firstname}}</ion-col>
          
            <ion-col *ngIf="item.Shift2 != emp.uid ">    </ion-col>
            <ion-col *ngIf="item.Shift2 == emp.uid ">{{emp.firstname}}</ion-col>
          </ion-row>
        </div>
      </div>
  
      
    </ion-grid>
  </div> 

  <div class="div_center">
    <ion-button (click)="EmolyeeSche(ID)" fill="outline">
      Trades Requests
    </ion-button>
  </div>

</ion-content>
