.div_center
{
  padding-top: 5%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}



ion-grid 
{
  ion-col
  {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-row:last-child 
  {
    border-bottom: 2px solid #e3e3e3;
  }
}


.img_size
{
  padding-top: 10%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
