<ion-header>
  <ion-toolbar>
    <ion-title align="center"> Trade Requests </ion-title>
    <ion-button fill="none" (click)="cancel()">Cancel</ion-button>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="div_center" *ngFor="let req of schedual$ | async">
    <ion-card *ngIf="req.Approve1 == true && req.Approve2 == false ">
      <ion-card-header>
        <ion-card-title>Trade request</ion-card-title>
      </ion-card-header>

  
    
      <ion-card-content>
        Requested from: ,  <br>
        Date: {{req.Date}} 
        between   {{req.Shift1}}<br>
        and  {{req.Shift2}}
      </ion-card-content>
    
      <ion-button fill="clear" (click)="approve(req.Date,req.Shift1,req.Shift2)"> Approve </ion-button>
      <ion-button fill="clear" (click)="reject()"> Reject </ion-button>
    </ion-card>
  </div> 


    
  
</ion-content>
